name: PayCore DevSecOps CI

on:
  push:
    branches:
      - master
      - v11
      - v17
      - 'feature/*'
  pull_request:
    branches:
      - master
      - v17


permissions:
  actions: read
  contents: read
  security-events: write   # necesario para OSV-Scanner (sube resultados a Code scanning)

# ======================================
# 1) Build + Tests + SAST (SpotBugs)
# ======================================
jobs:
  build_and_sast:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'maven'

      - name: Build + tests + SAST (mvn verify)
        run: mvn -B clean verify

      - name: Upload SpotBugs report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: spotbugs-report
          path: |
            target/spotbugs.html
            target/spotbugsXml.xml
          if-no-files-found: warn

  # ======================================
  # 2) SCA - OSV Scanner (sin NVD, sin API key)
  # ======================================
  sca_osv:
    runs-on: ubuntu-latest
    needs: build_and_sast

    # Reusable workflow oficial de OSV-Scanner
    uses: "google/osv-scanner-action/.github/workflows/osv-scanner-reusable.yml@v2.2.4"
    with:
      # Escaneo recursivo de todo el repo (por defecto ya hace esto,
      # lo dejamos explícito para que se vea en el TP)
      scan-args: |-
        --recursive
        ./
      fail-on-vuln: true    # si querés que falle el job cuando hay vulnerabilidades

  # ======================================
  # 3) DAST - OWASP ZAP Baseline
  # ======================================
  dast_zap:
    runs-on: ubuntu-latest
    needs: build_and_sast

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'maven'

      - name: Start PayCore app (Spring Boot) in background
        run: |
          mvn -q -DskipTests spring-boot:run &
          echo "Waiting for application to start..."
          sleep 40

      - name: ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.15.0
        with:
          target: 'http://localhost:8080'
          allow_issue_writing: false
